<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HealthVault.NET" version="2.1.0.4" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="Moq.AutoMock" version="0.3.2.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="Pareto.Rest.Client" version="0.0.3" targetFramework="net451" />
</packages>